.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

pubspec.lock
.project
packages
tools/test_data.dart
*~
.pydevproject
.settings
.dart_tool
.vscode
.idea/

voyager.iml

# Voyager Codegen Cache
.jarCache/